@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">

        </div>
        <div class="footer text-center">
            <a class="btn btn-block btn-social btn-lg btn-github" href="https://github.com/muhrifqii/learn-to-play-scala">
                <i class="fa fa-github"></i>
                 Fork me on Github 
            </a>
            <a href="https://github.com/muhrifqii">Learn to web with beautiful code</a>
        </div>
    </body>
</html>
